[submodule "SOMOSPIE"]
	path = use-cases/SOMOSPIE
	url = https://github.com/TauferLab/SOMOSPIE
[submodule "use-cases/SOMOSPIE"]
	path = use-cases/SOMOSPIE
	url = https://github.com/TauferLab/SOMOSPIE.git
